extends ../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/intro-to-webpack.pug
    include ./slides/loaders.pug
    include ./slides/plugins.pug
    include ./slides/resolve.pug
    include ./slides/output.pug
    include ./slides/wrap-up.pug
    include ../common/slide-show/contact-me.pug