.reveal .slides #camponile {
    height: 300px;
    width: auto;
}
.reveal .slides .intro img {
    width: 95%;
    height: auto;
}
.reveal .slides img {
    max-height: 600px !important;  
    border: none !important;
}
.reveal .slides .who-am-i img {
    max-height: 400px !important;
}