section
    section
        h2 What will you learn watching my videos?*
        ul
            li.fragment Web Development process (tools, debugging, frameworks, ES6)
            li.fragment Angular, most importantly
            li.fragment Angular best practices
            li.fragment SASS (responsive design using Foundation)
        h6.fragment * Topics are subject to change, I like to go on tangents!
        h6.fragment ** I currently do not have a schedule or order laid out, either