section
  section
    h2 Introduction to Pug
    img(src="assets/pug.svg" style="max-height: 400px !important;")
  section
    p.
      Pug is a HTML-like language. It represents HTML tags, but uses a different syntax and a 
      webpack loader to transpile it into HTML.
    p.fragment.
      The main features of Pug are CSS selector element definitions, file includes, mixins, expressions, 
      extensibility...etc.
  section
    p.
      Pug used to be called "Jade" until it got sued for naming rights. It renamed itself to Pug, but the two
      names are pretty synonomous at this point.
    p.fragment.
      The full API can be found at #[a(href="https://pugjs.org") pugjs.org].