section
  section
    h2 Pros
  section
    ul
      li Types
      //- Types are nice because they take away the guess work
      li.fragment Tooling Support
      //- IDEs, such as VS Code, work in type aheads and quick navigation to declarations
      //- because of the availability of types. You can also view the API.
      li.fragment Integration with dependencies is (potentially) easier
      //- If type definition files exist, being able to view the API in-IDE is available
      li.fragment It's optional
      //- Since Typescript is a superscript of Javascript, all previous syntaxes, including ES6
      //- are available
      li.fragment Easier for Object Oriented developers
      //- The type defintions are very similar to that of Java
      li.fragment Private, Protected, and Public
      //- One of the things that is frustrating parts of javascript is the fact that you can't hide variables