section
  section
    h2 Current Order of ES6 Topics
    p.fragment.
      Subject to Change
  section
    ol
      li.fragment.
        Variable Declarations
      li.fragment.
        New Methods on Pre-existing Prototypes
      li.fragment.
        Arrow Functions
      li.fragment.
        Classes
      li.fragment.
        Parameter Defaults
      li.fragment.
        Promises
      li.fragment.
        Modules