section
  section
    h2 The future of ES
    p.fragment.
      Personally, I don't see the use of transpilers and polyfills going away. The problemset that the Internet poses to browsers is a challenging one. Each browser is 
      being developed independent of each other and those developers have their own approaches to a problem.
    p.fragment.
      Even subtle behavioral differences, over the span of billions of webpages could have an impact.
    p.fragment.
      Plus, it's easier to define a behavior than it is to implement it, as we all know!