section
    section
        h2 What is an HSA?
        ul
            li.fragment Health Savings Account
            li.fragment Intended to help save for High Deductible health insurance plans
            li.fragment Tax deductible savings account
            li.fragment Can be used to reimburse valid medical expenses (see IRS listing)
            li.fragment 2017: $3400 single / $6750 family
            li.fragment 2018: $3450 single / $6900 family
    section
        h2 Why use an HSA?
        ul
            li.fragment Tax Savings ($850 for single, $1687.50 for family assuming 25% bracket)
            li.fragment Encourages saving for medical expenses
            li.fragment Can be utilized in retirement
    section
        h2 Misc. FAQs
        p.fragment.
            Unlike a Flexible Spending Account, your money remains yours at the end of the year.
        p.fragment.
            Valid bills can be paid out of the HSA at any point in time if incurred after the HSA
            was established.