section
    section
        h2 Investing your HSA
    section
        ul
            li Money in HSAs can typically be invested
            li.fragment Most HSAs require a minimum cash amount
        li.fragment Most allow for only mutual fund investment options, though limited to only a few options
    section
        h2 Benefits
        ul
            li.fragment Tax free growth
            li.fragment.
                $6750 at 7% market growth is $89,953 at retirement age (28 to 65)
            li.fragment.
                $6750 annually at 7% market is $1,118,851 on $249,750 principal
    section
        h2 Word of Caution!
        ul
            li.fragment If you view your HSA as an emergency fund, invest it in safer options
            li.fragment Just like any investment, you may lose your funds