section
    section
        h2 Generate an NPM Baseline
    section
        h2 #[code] npm init
        p.fragment The above command will begin the initialization process
        p.fragment It will ask you to provide the following
        ul
            li.fragment The name of your project (defaults to your directory name)
            li.fragment Version (defaults to 1.0.0, see #[a(href="http://semver.org/" target="_blank") this link for more details])
            li.fragment Description
            li.fragment Entry Point (this is where your application lives)
            li.fragment Test Command (aka if you have a test suite, how to execute it)
            li.fragment git repository (if you perform a #[code git init] prior to this step, it will pick up the repo)
            li.fragment Keywords (for NPM searching)
            li.fragment Author
            li.fragment License (defaults to #[a(href="https://opensource.org/licenses/ISC") ISC])