section
    section
        h2 Scripts
    section
        code.
            "scripts": {
                "test": "echo \"Error: no test specified\" &amp;&amp; exit 1",
                "start": "webpack-dev-server",
                "postinstall": "webpack"
            }
        p These are used to abstract the underlying dependencies
        p.fragment For instance, if your testing framework changes from mocha to jasmine, your test command will still be #[strong npm test]
        p.fragment Available npm-scripts properties can be found #[a(href="https://docs.npmjs.com/misc/scripts") here]