section
  section
    h2 Current Order of Typescript Topics
  section
    ol
      li
        a(href="/dist/index.html?sub-app=ts-intro") Typescript Introduction
      li
        a(href="/dist/index.html?sub-app=ts-types") Types
      li
        a(href="/dist/index.html?sub-app=ts-classes") Classes
      li
        a(href="/dist/index.html?sub-app=ts-interfaces") Interfaces
      li
        a(href="/dist/index.html?sub-app=ts-generics") Generics
      li
        a(href="/dist/index.html?sub-app=ts-decorators") Decorators
      li
        a(href="/dist/index.html?sub-app=ts-misc") Misc.
      li
        a(href="/dist/index.html?sub-app=ts-definition-files") Typescript Definition Files
      li
        a(href="/dist/index.html?sub-app=ts-implementation") Implementation of Typescript