extends ../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/what-is-yarn.pug
    include ./slides/getting-started.pug
    include ./slides/why-yarn.pug
    include ./slides/slight-differences.pug
    include ../common/slide-show/contact-me.pug