extends ../../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/smart-component.pug
    include ./slides/dumb-component.pug
    include ./slides/best-practices.pug
    include ../../../common/slide-show/contact-me.pug