section
    section
        h2 Folder Structure
    section
        p.
            Generating a new Dyson project is easy!
        ol
            li.fragment.
                Create a directory that you intended to store mocks in
            li.fragment.
                Create each of the end points you'll need as directories (GET, DELETE, POST, PUT, OPTIONS)
            li.fragment.
                Optionally add a #[code dyson.json] file for configuration of Dyson, more on this later