extends ../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/who-am-i.pug
    include ./slides/angular-experience.pug
    include ./slides/teaching.pug
    include ./slides/what-you-will-learn.pug
    include ../common/slide-show/contact-me.pug