extends ../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/overview.pug
    include ./slides/installation.pug
    include ./slides/folder-structure.pug
    include ./slides/endpoint-api.pug
    include ./slides/dynamic-templates.pug
    include ../../common/slide-show/contact-me.pug