extends ../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/nodeJS.pug
    include ./slides/npm.pug
    include ./slides/vscode.pug
    include ../common/slide-show/contact-me.pug