extends ../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/npm-init.pug
    include ./slides/dependencies.pug
    include ./slides/versioning.pug
    include ./slides/scripts.pug
    include ./slides/sharing.pug
    include ./slides/other-commands.pug
    include ../common/slide-show/contact-me.pug