extends ../../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug    
    include ../schedule.pug
    include ./slides/history.pug
    include ./slides/adoption.pug
    include ./slides/babel.pug
    include ./slides/future.pug
    include ../../../common/slide-show/contact-me.pug