section
    section
        h2 Contact Me
        a(href="https://www.linkedin.com/in/evan-williams-75485533")
            img(src="./assets/linkedin.png")
        a(href="https://twitter.com/angular_evan")
            img(src="./assets/twitter.png")