section
  section
    h2 Adoption
    p.fragment.
      As browsers become more important to our lives, the adoption of these standards is done much faster. ES3 took about a decade to be adopted.
       ES5 took closer to about 3 years. ES6's current status is pretty impressive, in my book!
    p.fragment.
      To view its current adoption levels, #[a(href="http://kangax.github.io/compat-table/es6/") check out this table.]
    p.fragment.
      You'll notice on the left there are things called "compilers/polyfills". This approach allows us to write ES6, and have it be transformed to backfill 
      functionality into older browsers.