section
  section
    h2 Babel
    p.fragment.
      We will be using Babel to transpile our ES6 into ES5 to reach those outdated browsers. It has a 71% ES6 coverage at the time of recording, but I've found
      that it supports enough use cases for our purposes.
    p.fragment.
      In the #[a(href="https://www.youtube.com/watch?v=ptP-zVgOZD8") previous video] we set up a webpack configuration that executes a Babel transpilation on our code.
    p.fragment.
      More information #[a(href="https://babeljs.io/") can be found on Babel's site].