section
  section
    h2 LiveScript, Javascript, ECMAScript, ES6, ES2015...
    p.fragment.
      The history of Javascript
  section
    h2 Brief Overview
    p.fragment.
      The language we know as Javascript today started out as LiveScript.
    p.fragment.
      It then defined its standard API as "ECMAScript".
    p.fragment.
      We still use the term ECMAScript to represent the standard, but the language is colloquially known as Javascript.
  section
    h2 ES5, ES6, and ESNext
    p.fragment.
      ES5 was written in 2009. It's adoption has been rather slow, with only most browsers catching up in 2012.
    p.fragment.
      ES6 was released in 2015. Along with the release of ES6, the team responsible for defining these standards stated that it 
      intends to release a new definition of the language yearly. Thus, ES2015 is interchangable with ES6.
    p.fragment.
      ESNext is how they define the next iteration of the standard. ES2016 is currently being defined.