section
    section
        h2 NodeJS
        a(href="https://nodejs.org/en/" target="_blank")
            img(src="assets/software/nodejs-new-white-pantone.png")
    section
        h2 What is NodeJS?
        ul
            li.fragment Cross platform runtime environment (think JVM)
            li.fragment Developed for writing server-side applications
            li.fragment Modules are written in Javascript
    section
        h2 Why are we using it?
        ul
            li.fragment Modules written on node allow for significantly different development cycle
            li.fragment Able to write applications in Javascript
            li.fragment When we start working with data calls, we'll utilize a NodeJS backend for ease of development
    section
        h2 Installation
        ol
            li.fragment Download &amp; Install
            li.fragment Ensure you add it to your PATH variable
            li.fragment Verify installation using #[code node --version] in a command window