extends ../../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/intro.pug
    include ./slides/setters.pug
    include ./slides/getters.pug
    include ./slides/bootstrapping.pug
    include ../../../common/slide-show/contact-me.pug