extends ../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/declarations.pug
    include ./slides/template-strings.pug
    include ./slides/object-declaration.pug
    include ./slides/destructuring-objects.pug
    include ./slides/spread-operator.pug
    include ./slides/rest-parameter.pug
    include ../../common/slide-show/contact-me.pug