extends ../../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ../schedule.pug
    include ./slides/set.pug
    include ./slides/map.pug
    include ./slides/array-methods.pug
    include ./slides/object-assign.pug
    include ./slides/string-methods.pug
    include ./slides/things-i-left-off.pug
    include ../../../common/slide-show/contact-me.pug