section
  section
    h2 Things I left off (and will not cover)
  section
    h2 Iterators &amp; Generators
    p.fragment.
      These are ways of creating a custom iterable object.
    p.fragment.
      #[em Why didn't I cover it?] I haven't found a use for it yet.
  section
    h2 Unicode, binary and octal literals
    p.fragment.
      Supports full unicode, binary, and octal literals in source.
    p.fragment.
      #[em Why didn't I cover it?] I'm an English only speaker and don't currently use unicode characters. Nor do I ever need to get low enough to use binary or octals!
  section
    h2 Proxies
    p.fragment.
      To be honest, I don't understand these. Check out the #[a(href="https://github.com/lukehoban/es6features#proxies") link here].
  section
    h2 Symbols
    p.fragment.
      These are a new primitive type. They're an interchangable way of assigning properties to an object. You can use symbols as you can strings to access properties from
      an object.
  section
    h2 Tail Calls
    p.fragment.
      These have to do with recursive function calls. It aids in not overflowing the stack.
    p.fragment.
      #[em Why didn't I cover it?] I fear recursive calls. I always end up infinite looping. Plus, in my day-to-day, I don't really encounter them much, so I'm no expert.
