section
  section
    h2 Installation
  section
    pre.
      npm install --save-dev ts-loader typescript typings
    ul.fragment
      li ts-loader - Used to perform Typescript transpiling for webpack
      li typescript - Underlying compiling library (think Babel)
      li typings - Used to install typings of libraries