section
  section
    h2 Basic Syntax
  section
    p.
      The basic syntax is very similar to that of HTML.
    p.fragment.
      There is no need for closing tags.
    p.fragment.
      CSS selectors are used to define the elements.
    p.fragment.
      Nesting elements is performed by indenting an element declaration on the next line.