section
  section
    h2 How to install webpack
  section
    h2 NPM
    p.
      Execute the command #[code npm install -g --save-dev webpack].
    p.fragment.
      That's it. Remember, though, we want to #[code --save-dev] to ensure we note that 
      we are requiring that dependency for development purposes.
    p.fragment.
      Also note the #[code -g]. The webpack NPM module comes with an executable bat script that 
      will interface with your filesystem natively.
    p.fragment.
      If you execute #[code webpack] in your directory, you should see it output the usage information.
      We'll expand on how to configure webpack in the next video.