section
  section
    h2 Current Order of ES6 Topics
    p.
      Subject to Change
    ol
      li
        a(href="/dist/index.html?sub-app=es6-intro") ES6 Introduction - 
        a(href="https://www.youtube.com/watch?v=Q39IWxrla8M") Video
      li
        a(href="/dist/index.html?sub-app=es6-variable-declaration") Variable Declarations - 
        a(href="https://www.youtube.com/watch?v=ARPy03C5nyE") Video
      li.
        New Methods on Pre-existing Prototypes
      li.
        Arrow Functions
      li.
        Classes
      li.
        Parameter Defaults
      li.
        Promises
      li.
        Modules