section
    section
        h2 Is an HSA right for you?
    section
        h2 Qualifications
        ul
            li.fragment You're on a High Deductible Health Plan
            li.fragment You're not covered by any other health coverage (see IRS rules)
            li.fragment You cannot be on medicare
            li.fragment You are not being claimed as a dependent
    section
        h2 The Math
        h4 HDHP (Family)
        ul
            li Premiums: $6550.08 ($272.92 bi-weekly)
            li HSA Contributions: $1000
            li Deductible Max: $4000
            li Out of Pocket Max: $6000
            li Tax Savings (25% bracket, $5750 personal contributions): $1437.50
            li Net (w/o tax savings): $11550.08 (at max), $9550.08 (deductible met), $5550.08 (at min)
            li Net (w/ tax savings): $10112.58 (at max), $8112.58 (deductible met), $4112.58 (at min)
    section
        h4 Low Deductible (Family)
        ul
            li Premiums: $4800 ($200 bi-weekly)
            li Deductible Reimbursement: $1000
            li Deductible Max: $2000
            li Out of Pocket Max: $8000
            li Net: $11800 (max), $5800 (deductible met), $4800 (at min)
    section
        h4 Comparison
        ul
            li HDHP Net (w/o tax savings): $11550.08 (at max), $9550.08 (deductible met), $5550.08 (at min)
            li HDHP Net (w/ tax savings): $10112.58 (at max), $8112.58 (deductible met), $4112.58 (at min)
            li LDHP Net: $11800 (max), $5800 (deductible met), $4800 (at min)
    section
        h2 Most Likely to Benefit
        ul
            li.fragment Healthy individuals
            li.fragment Younger people (compounding growth of funds)
            li.fragment People without children (see calculations on deductibles being met)
            li.fragment Those able to contribute to an HSA (have available capital)
    