section
    section
        h2 Retirement Impacts
    section
        ul
            li.
                HSA can be treated as a traditional IRA after full retirement age
            li.fragment.
                Withdrawals for non-medical expenses are treated as income
            li.fragment.
                Due to retro-active medical bills rule, waiting to reimburse medical expenses until retirement allows
                completely tax free withdrawls from the HSA.
            li.fragment.
                If withdrawn without medical expenses, income taxes apply