section
    section
        h2 Problems with Dynamic Modules
    section
        ul
            li Dependencies may not support it, either (i.e. $ngRedux)
            li.fragment Routing and other configurations expect a synchronous definition of states
            li.fragment Determining module requirements on refresh of the application
            li.fragment Choosing a recovery point