section
    section
        h2 Getting Started
    section
        ol
            li NPM install Yarn globally
            li.fragment Execute #[code yarn] in an existing project, or #[code yarn init] in a new one
    section
        p.
            Yarn init will generate a package.json that follows the same API.
        p.fragment.
            When a yarn install (or simply yarn) is executed, it will pull down the packages and perform any of the 
            NPM hooks.
        p.fragment.
            It will also generate a #[code yarn.lock] file. More on this later.