section
    section
        h2 NPM
        a(href="https://npmjs.com")
            img(src="assets/software/npm.png")
    section
        h2 What is NPM?
        ul
            li.fragment Package Manager for Javascript
            li.fragment Similar to the concept of Maven in Java
            li.fragment Installs dependencies that will help build applications, as well as develop them
    section
        h2 Why are we using it?
        ul
            li.fragment A great way to manage dependencies
            li.fragment All dependencies can be explicitly declared &amp; managed by NPM
            li.fragment Many of our build tools would be extremely difficult to manage without it
    section
        h2 Installation Verification
        p.fragment NPM is a default script included in NodeJS
        p.fragment #[code npm --version] should respond with x.x.x version (currently 3.7.2)