section
    section
        h2 VS Code
        a(href="https://code.visualstudio.com/")
            img(src="assets/software/vscode.png")
    section
        h2 What is VS Code?
        ul
            li.fragment Visual Studios Code, Microsoft open source project
            li.fragment IDE for software development
            li.fragment Provides GIT interactions, third party plugins, auto complete etc.
    section
        h2 Why are we using it?
        ul
            li.fragment It's free
            li.fragment It has all the features of a good web IDE
    section
        h2 Installation
        ul
            li.fragment Download &amp; install on your machine
            li.fragment Open the application
            li.fragment Hit #[code Ctrl + `] to open a command prompt inside the application
            li.fragment You should be able to verify NPM &amp; NodeJS are both accessible
    section
        h2 Extensions Being Used
        ul
            li.fragment ESLint
            li.fragment Dracula Syntax Theme
            li.fragment puglint
            li.fragment Debugger For Chrome