extends ../../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/the-why.pug
    include ./slides/how-angular-loads-modules.pug
    include ./slides/dynamic-problems.pug
    include ./slides/initial-approaches.pug
    include ./slides/the-solution.pug
    include ./slides/the-code.pug
    include ./slides/implementation.pug
    include ../../../common/slide-show/contact-me.pug