extends ../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/intro.pug
    include ./slides/investing.pug
    include ./slides/retirement-impacts.pug
    include ./slides/is-it-right-for-you.pug