section
    section
        h2 How Angular loads Modules
    section
        ul
            li.fragment Performed synchronously
            li.fragment Cannot override modules asynchronously
            li.fragment Executes services, factories, providers, etc, then performs config and run blocks