section
    section
        h2 The Why
    section
        ul
            li Bundle Size
            li.fragment Security
            li.fragment Dynamic Deploys
            li.fragment Performance Gains
    section
        h2 Bundle Size
        ul
            li.fragment Not only are the modules' source dynamic, but the bundle specific dependencies are, as well
            li.fragment Original project was 1 bundle, 16 MB in size. Now have 6 bundles, averaging to about 1.5 MB a piece
            li.fragment Modules can be loaded as-needed
    section
        h2 Security
        ul
            li.fragment Can dynamically pull in modules based on security roles
            li.fragment Helps eliminate coding errors where developers do not restrict routes by security
    section
        h2 Dynamic Deploys
        p.fragment.
            Allowed to push sub-modules without the need to push all features
    section
        h2 Performance Gains
        ul
            li.fragment More bundles
            li.fragment CommonsChunkPlugin, among others
        