extends ../../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/intro.pug
    include ./slides/initial-tech.pug
    include ./slides/iterative-releases.pug
    include ./slides/problems-we-faced.pug
    include ./slides/key-takeaways.pug
    include ./slides/leveraging-the-past.pug