section
    section
        h2 Angular Experience
        ul
            li.fragment Developed 7 applications
            li.fragment 2 external applications (50,000 users)
            li.fragment 3 years of full time experience
            li.fragment Participate in UI Best Practices group, determining direction of UI development