.reveal
  .slides
    include ./intro-slide.pug
    include ./topic.pug
    include ./who-am-i.pug
    include ./angular-experience.pug
    include ./teaching.pug
    include ./what-you-will-learn.pug
    include ./contact-me.pug