section
    section
        h2 Teaching Experience
        ul
            li.fragment Taught Angular training, replacing a vendor trainer
            li.fragment ES6 syntax
            li.fragment SASS
            li.fragment Webpack
            li.fragment Jade (now Pug)
            li.fragment and many more!