section.who-am-i
  section
    h1 Who am I?
  section
    h3 Evan Williams
  section(data-markdown)
    h3 Programming since 6th grade
    pre.
        if(location == 'home') {
          if(directionChosen == 'north') {
            print('You see a wild hog appear');
          }
          if(directionChosen == 'south') {
            print('You enter the town square, only to be robbed blind!');
          }
          if(directionChosen == 'east') {
            print('You see your home off in the distance');
            if(directionChosen == 'east') {
              print('You reach your doorstep');
            }
          }
        }
  section
    h3 Graduate of Iowa State University
    img#camponile(src='assets/camponile.jpg')
  section
    h3 Work History
    h4.fragment McDonalds!
    h4.fragment Intern at Fortune 500 insurance company
    ul
      li.fragment Wrote Java 1.5
      li.fragment REST end point for Document Storage
      li.fragment Automated testing
  section
    h3 Current Position
    ul
      li.fragment Wrote Java JMS services
      li.fragment Built a Wicket website for said services
      li.fragment Moved on to write a customer portal in Liferay using jQuery
      li.fragment Began work on Angular applications
  section
    img(src="assets/me_1.jpg")
  section
    img(src="assets/me_2.jpg")
  section
    img(src="assets/me_3.jpg")