section
    section
        h2 Downsides
    section
        ul
            li Fragmentation
            li.fragment Another dependency
            li.fragment Another syntax to learn
            li.fragment Have to execute a compile function to get the template*
        p.fragment.
            * - This can be addressed by using #[a(href="https://www.npmjs.com/package/pug-html-loader") the pug html loader]