section
    section
        h2 More Information
        div
            a.fragment(href="http://pugjs.org") PugJS.org
        div
            a.fragment(href="http://youtube.com/m3fawner") My YouTube channel (shameless plug)