section
    section
        h2 Initial Tech Stack, Replacement
    section
        h4.
            Initial tech stack forced our hand early on.
        ul
            li.fragment Built in Joomla
            li.fragment Updates were performed by a contractor (Agent X)
            li.fragment Agent X turned out to be one guy, who was difficult to get ahold of
    section
        h4 Technology Decisions
        ul
            li.fragment Hosting out of static-mortgage s3
            li.fragment Foundation adoption alongside React ZSG
            li.fragment Single Page Application, cloudfront "fallback"
    section
        h4 PM "Cut-Line"
        p.fragment.
            Given limited resources and a lot of work occurring simultaneously, we needed to create a priority line
            and continually re-evaluate.
        ul
            li.fragment No mobile navigation in immediate release
            li.fragment Released monthly payment calculator w/o refi &amp; affordability calculators
            li.fragment Abbreviated contact form instead of the full lead generation form
            li.fragment Wordpress (Blog site)
            li.fragment Compliance contact form