section
    section
        h2 Introduction &amp; Overview
    section
        h2 Who I am
        img(src="./assets/zhl/slack-icon.png")
    section
        h4 ZHL Timeline
        ul
            li.fragment.
                November, 2018: Mortgage Lenders of America purchased by ZG
            li.fragment.
                December, 2018: "ZHL" starts in preparation for January ZHL release goal
            li.fragment.
                January: #[strong MLOA &quot;DOS'd&quot; by 20 requests per minute.]
            li.fragment.
                February: MLOA.com switched over to static-mortgage, MVP released!
            li.fragment.
                April: MLOA.com becomes Zillow Home Loans, launches alongside Kingfisher