section
    section
        h2 Incremental Releases, Done Right
    section
        ul
            li Version 1 (2/1): Landing page, phone call as primary action, careers &amp; supporting pages
            li Version 2 (2/7): Contact form (utilizing mortgage contact form)
            li Version 3 (2/20): Full lead form, Mortgage Monthly Cost calculator, Wordpress support
            li Version 3.1 (2/25): Refinance &amp; Affordability calculators
            li Version 3.2 (2/25 [later in the day]): Add mobile nav
            li Version 3.3 (2/26-3/1): 36 tickets (copy changes, bugfixes, design changes, brand color alignment, refactoring)
            li Version 4 (3/5): 10 tickets, Extract source code from static-mortgage to ZHL website
            li Version 4.1 (3/20): Footer redesign, copy changes, design updates
            li Version 5 (4/1): ZHL Launch (MLOA -&gt; ZHL)
    section
        h4 Post Re-brand
        ul
            li We continued doing significant release cadence (shipped 20/22 days in April, 18/25 days in May)
            li Replaced Braavos with pure webpack build process to support continually diverging use cases
            li Removed use of React ZSG entirely