section
    section
        h2 Problems Faced
        ul
            li.fragment Resourcing constraints
            li.fragment Project concurrency (Home Loans page, WOW HDP refresh, ZGMI Connect, ZHL)
            li.fragment Legal &amp; Design changes
            li.fragment Early adopter of new design system
            li.fragment Infrastructure pains (hosting out of Mortgage's statics, Route53, domain purchasing...)