section
  section
    h2 Introduction to Modules
  section
    ul
      li Starting point of the application
      li.fragment One root module represents the entry point
      li.fragment Dependency modules are initialized when the module is bootstrapped
      li.fragment Constructs get created as modules are initialized
      li.fragment Constructs are declared on the module
      li.fragment (Services, Factories, Controllers, Components, etc)