section
  section
    h2 Dependency Declaration
  section
    p.
      It is extremely important to declare every dependency
    p.fragment.
      Modules are loaded in a non-intuitive way
    p.fragment.
      Accessing different parts of the app in a different order can cause failures, if not declared properly.