section
  section
    h2 Module File Naming
  section
    p.
      Depends on build tools
    p.fragment.
      For non-webpack/ES6, I suggest using "*.module.js"
    p.fragment.
      With webpack, I use index.js