section
  section
    h2 Naming Conventions
  section
    p.
      Naming typically is representative of its location in the project
    pre.fragment
      \ main
        \ - index.js
        \ child
          \ - index.js
    p.fragment.
      The child should be named "main.child", in this instance
  section
    p.
      The root module should be the name of the application
    p.fragment.
      Sometimes, it's useful to group applications by entity.
    p.fragment.
      For instance, my application modules typically start with m3fawner or ew