section
  section
    h2 $doCheck
  section
    ul
      li Customized implementation of $onChanges
      li.fragment Can be more fine grained when acting upon changes (checking nested properties of a binding)
      li.fragment Executed on every digest cycle, so be wary
      li.fragment Should not need an $onChanges when utilizing $doCheck