section
  section
    h2 $onDestroy
  section
    ul
      li Equivalent to listening for the $destroy event on $scope
      li.fragment Called when the element $scope is destroyed
      li.fragment Useful for cleaning up event listeners and non-Angular logic/resources