section
  section
    h2 $onInit
  section
    ul
      li Useful for initializing values necessary for the view
      li.fragment Ensures availability of bindings and application state
      li.fragment Centralizes initialization of view state