section
  section
    h2 Cons
  section
    ul
      li Types
      //- Types make the code somewhat restrictive
      li.fragment Verbose
      //- Due to the extra types and declarations, the code is not as concise
      li.fragment Tooling
      //- The tooling takes forever to set up and learn
      li.fragment Implementing Non-Typed Libraries is painful
      //- You have to provide your own typings for non-typed libraries or define
        it as Any, which defeats the purpose