section
  section
    h2 My Opinion
//-
  I don't particularly care for types, in general
  but this isn't as painful as they are in other languages like Java
  Types allow IDE look aheads and "go to declaration" functions
  Easier to call well typed dependencies without having to view documentation
  Not sure where the future will take it, but if Angular 2 takes off, it may do well