section
  section
    h2 What is Typescript?
  section
    p.
      Typescript is a superset of Javascript
    ul
      li.fragment ES6 Syntax included
      li.fragment Additional features added to the Javascript language
      li.fragment Introduces type definitions to the language
  section
    p.
      Developed my Microsoft
    p.fragment.
      But don't worry, it seems to be pretty nice, so far!
    p.fragment.
      Sometimes, forgiveness is the right path!
  section
    p.
      Has some acceptance in the web world
    ul
      li.fragment Microsoft (VS Code)
      li.fragment Google (Angular 2)
      //- Angular 2 without typescript is very painful to use due to not using decorators