extends ../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ../schedule.pug
    include ./slides/syntax.pug
    include ./slides/use-case.pug
    include ../../common/slide-show/contact-me.pug