section
  section
    h2 Current Order of ES6 Topics
    p.fragment.
      Subject to Change
  section
    ol
      li
        a(href="/dist/index.html?sub-app=es6-intro") ES6 Introduction - 
        a(href="https://www.youtube.com/watch?v=Q39IWxrla8M") Video
      li
        a(href="/dist/index.html?sub-app=es6-variable-declaration") Variable Declarations - 
        a(href="https://www.youtube.com/watch?v=ARPy03C5nyE") Video
      li
        a(href="/dist/index.html?sub-app=es6-new-methods") New Methods on Pre-existing Prototypes - 
        a(href="https://www.youtube.com/watch?v=wUPqvLiyiUQ") Video
      li
        a(href="/dist/index.html?sub-app=es6-arrow-functions") Arrow Functions - 
        a(href="https://www.youtube.com/watch?v=7XFyqYR6Tr8") Video
      li
        a(href="/dist/index.html?sub-app=es6-classes") Classes - 
        a(href="https://www.youtube.com/watch?v=uRuP53zTHCQ") Video
      li
        a(href="/dist/index.html?sub-app=es6-default-parameters") Parameter Defaults - 
        a(href="https://www.youtube.com/watch?v=GiGuzi4SqQA") Video
      li
        a(href="/dist/index.html?sub-app=es6-promises") Promises -
        a(href="https://www.youtube.com/watch?v=AyNxPwOZPHY") Video
      li
        a(href="/dist/index.html?sub-app=es6-modules") Modules -
        a(href="https://www.youtube.com/watch?v=mpVBps_mtLI") Video