section
    section
        h2 Installation
    section
        p.
            As it's an NPM module, it's as simple as globally installing the package
        pre.fragment.
            npm install -g dyson
    section
        p.
            Optionally, you can install the generators that produce mock data for names, addresses and the like.
        pre.fragment.
            npm install --save-dev dyson-generators