section
    section
        h2 Dyson Overview
    section
        ul
            li.
                Service Mocking framework
            li.fragment.
                Built on Express
            li.fragment.
                Supports Static & Dynamic responses
            li.fragment.
                Extremely easy to set up
    section
        h2 About the Package
        div
            a.fragment(href="https://github.com/webpro/dyson") Github Page
        div
            a.fragment(href="emailto:lars@webpro.nl") Lars Kappert
    section
        h2 How it works
        ul
            li.fragment.
                Generates end points using the configurations in each of the HTTP verb folders
            li.fragment.
                Listens at a particular port (3000 unless configured), for requests and performs a URL match
            li.fragment.
                When a URL match occurs, the request generates a response according to the configuration
            li.fragment.
                We'll cover how this works in more detail in a later video