section
    section
        h2 Slight API Differences between NPM and Yarn
    section
        ul
            li.
                yarn add - replaces npm install
            li.fragment.
                yarn remove - replaces npm uninstall
            li.fragment.
                yarn global - replaces npm install -g
            li.fragment.
                yarn add -dev - replaces npm install --save-dev