section
    section
        h2 What is Yarn?
    section
        p.
            Yarn is a Javscript package manager.
        p.fragment.
            Replaces NPM functionality
        p.fragment.
            It is built on top of NPM's registry, so packages published to NPM are available on Yarn
        p.fragment.
            Developed by Facebook, Google, Tilde, and Exponent.
        p.fragment.
            It is technically still in pre-release, as its version is 0.18.x
    section
        h2 Side Note
        p.
            Their website artwork is done by the Reddit user "ShittyWaterColour", so that's cool.