extends ../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/intro.pug
    include ./slides/intro-example.pug
    include ./slides/reuse.pug
    include ./slides/other-features.pug
    include ./slides/benefits.pug
    include ./slides/downsides.pug
    include ./slides/more-information.pug