extends ../../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ../schedule.pug
    include ./slides/concept.pug
    include ./slides/basic-syntax.pug
    include ./slides/promise-handling.pug
    include ./slides/promise-chaining.pug
    include ./slides/forcing-path.pug
    include ./slides/all.pug
    include ../../../common/slide-show/contact-me.pug