section
  section
    h2 Getter Notation
  section
    pre.
      angular.module('ew');
    p.fragment.
      Retrieves the module from angular's module collection
    p.fragment.
      Additional constructs can be added at this point
  section
    p.
      Please note, this practice is no longer necessary in a world of ES6 modules.
    p.fragment.
      Modules should be declared in one file, and have all constructs declared on that module