section
  section
    h2 Basic Concept of a Promise
  section
    p.
      A promise is a expected result of an asynchronous operation.
    p.fragment.
      The most common scenario for a promise is the eventual return of an HTTP call to a server.
    p.fragment.
      The promise is the placeholder object that represents that operation.
  section
    p.
      Promises allow for the application to continue processing and execute a predefined call back for
      a succesful, or error, completion of that operation.
    p.fragment.
      The promise is executed similar to that of a try/catch/finally block.