extends ../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ./slides/intro.pug
    include ./slides/installing.pug
    include ./slides/syntax.pug
    include ./slides/elements.pug
    include ./slides/interpolation.pug
    include ./slides/includes.pug
    include ./slides/inheritence.pug
    include ./slides/mixins.pug
    include ./slides/conditionals.pug
    include ./slides/iteration.pug
    include ./slides/filters.pug
    include ./slides/misc.pug
    include ./slides/using.pug
    include ../../common/slide-show/contact-me.pug