extends ../../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ../schedule.pug
    include ./slides/basic-syntax.pug
    include ./slides/available-types.pug
    include ./slides/type-assertions.pug
    include ../../../common/slide-show/contact-me.pug