section
    section
        h2 Other Commands
    section
        ul
            li.fragment #[code npm remove dependency-name] - Removes the dependency from the application
            li.fragment #[code npm prune] - Removes undeclared dependencies
            li.fragment #[code npm link] - Points the NPM registry to your local directory for the package name (local testing)
            li.fragment #[code npm shrinkwrap] - Creates a file that locks down the version numbers currently installed