section
  section
    h2 More in depth Discussion
  section
    h2 Todd Motto
    p.
      Todd Motto wrote a very, very in depth article #[a(href="https://toddmotto.com/angular-1-5-lifecycle-hooks") here].
  section
    h2 Angular Docs
    p.
      The angular documentation is #[a(href="https://docs.angularjs.org/guide/component") on components] explains the lifecycle hooks, as well.
  section
    h2 CodePen
    p.
      I created a #[a(href="http://codepen.io/m3fawner/pen/pRjvym") CodePen.io] example to see when each are fired and in what order, as well as the event order