section
  section
    h2 Best Practices
  section
    ul
      li Entire applications should be written as a component
      li.fragment The fewer smart components, the better
      li.fragment.
       Smart components can be made dumb by breaking it into two components,
       a smart "wrapper" that binds the results of service calls into a dumb component