section
  section
    h2 Smart Components
  section
    ul
      li Makes service calls to get data to display
      li.fragment Concerned with how things #[strong work]
      li.fragment Typically complex components in comparison
      li.fragment Maintain state
  section
    h4 Pros
    ul
      li.fragment Can be dropped into an application with little wiring
      li.fragment Typically are represented very cleanly in the DOM
  section
    h4 Cons
    ul
      li.fragment Must have intimate knowledge of the API
      li.fragment They are tightly coupled to the services
      li.fragment Need to ensure that proper application state exists in order to make service calls
      li.fragment Very difficult to customize
      li.fragment Little reuse (can only represent one concept from one data source)