section
    section
        h2 Benefits
    section
        ul
            li Code reuse
            li.fragment Concise templating
            li.fragment Community support
            li.fragment Flexibility
            li.fragment CSS Selectors map to templates easier