section
    section
        h2 Downsides
    section
        ul
            li Fragmentation
            li.fragment Another dependency
            li.fragment Another syntax to learn
            li.fragment Have to execute a compile function to get the template*
        p.
            * - This was addressed in Jade by having a user created loader that executed the function
            without any arguments, meaning passing context was not available