section
    section
        h2 Introduction
    section
        p.
            Before we get started...let's get something out of our system.
    section
        div(style="display: flex; justify-content: center")
            img(src="http://i.imgur.com/yXHLZeb.gif")
            img(src="https://media.giphy.com/media/JfDNFU1qOZna/giphy.gif")
            img(src="https://media.giphy.com/media/FJnaJECZmVn4Q/giphy.gif")
        div(style="display: flex; justify-content: center")
            img(src="https://media.giphy.com/media/9muUXOtrd5gpG/giphy.gif")
            img(src="https://media.giphy.com/media/TULZbGrZ7T2tq/giphy.gif")
    section
        p.
            Yes it's called Pug.
        p.fragment.
            They got sued and changed their name to #[a(href="https://github.com/pugjs/pug/issues/2184") Pug].
    section
        ul
            li.
                Pug is used to generate HTML files
            li.fragment.
                The syntax mimics that of CSS selectors
            li.fragment.
                Nesting elements is done by indenting (significant whitespace)
            li.fragment.
                Similar to how Babel works, Pug templates are transpiled into HTML
            li.fragment.
                When importing Pug templates, a compile function is exposed