section
    section
        h2 Other Features
    section
        ul
            li Filters (transpiling in the template, think Markdown)
            li.fragment Inline Elements
            li.fragment Comment Syntax (can be compiled into the template, or excluded)
            li.fragment Conditionals
            li.fragment Interopolation