section
    section
        h2 Code Reuse
    section
        h2 Mixins
        ul
            li.fragment.
                Expose functions that take in parameters
            li.fragment.
                Mixins can be used to abstract out sub-sections of templates
            li.fragment.
                Parameters can be used to perform conditional statements, or to be used in the HTML itself
                (i.e. controller names or binding values)
    section
        h2 Include Statements
        ul
            li.fragment.
                Includes act as an import of another Pug file
            li.fragment.
                Mixins in the file become available for reuse
            li.fragment.
                Full Pug templates can be nested in other template files using include
    section
        h2 Inheritence
        ul
            li.fragment.
                Similar to include, but allows for customization of "blocks"
            li.fragment.
                Blocks are declared in the template and implemented by the "extending" template
            li.fragment.
                Blocks can be optionally implemented