extends ../../../common/slide-show/slide-show.pug
block slides
    include ./slides/topic.pug
    include ../schedule.pug
    include ./slides/es6.pug
    include ./slides/class-level-properties.pug
    include ./slides/property-modifiers.pug
    include ./slides/abstract.pug
    include ./slides/interfaces.pug
    include ../../../common/slide-show/contact-me.pug