section
  section
    h2 ES6 and Typescript
  section
    p.
      Since Typescript is a superset of Javascript, ES6 classes & Typescript classes 
      are nearly syntactically the same.
    p.fragment.
      My #[a(href="https://www.youtube.com/watch?v=uRuP53zTHCQ") ES6 classes video] can cover that syntax
  section
    p.
      Added syntax includes:
    ul
      li.fragment.
        Class level properties
      li.fragment.
        Public, private, protected modifiers
      li.fragment.
        Read Only modifier
      li.fragment.
        Abstract Classes
      li.fragment.
        Interfaces